#
# MANIFEST.in
#
# Manifest template for creating the OpenCobolIDE source distribution.
include MANIFEST.in
include setup.py
include LICENSE
include changed
include *.rst
include *.md
include *.txt
include *.cfg
include *.py
include *.ini
include .coveragerc
recursive-include test *
recursive-include forms *
recursive-include share *
recursive-include doc *
recursive-include scripts *
recursive-include open_cobol_ide/extlibs *
global-exclude *.pyc
global-exclude *.pyo
