[Desktop Entry]
Name=OpenCobolIDE
Comment=OpenCobolIDE 4.7.6 updated for modern Python
TryExec=opencobolide
Exec=opencobolide %F
Terminal=false
Type=Application
Icon=OpenCobolIDE
Categories=Development;IDE;
MimeType=text/x-cobol;
